*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Poppins;	
}

.wrapper {
	width: 100%;
	margin: auto;
}

.bg-header {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
}

.bg-menu {
	width: 100%;
	height: fit-content;
	flex: 100%;
	background-color: #0cc98f;
	position: fixed;
	
	z-index: 1;
	padding: 0px 80px;
	transition: 1s ease-in-out;
}

.bg-menu .scrolled{
	background-color: #0cc98f;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
}

#login{
	float: right;
	border-radius: 10px;
}

.btn{
	border: 1px solid;
	padding: 0px 20px;
	border-radius: 50px;
}

nav ul li a {
	padding: 30px;
	display: inline-block;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	transition: all .7s ease-in-out; 
	color: #fff;
}

.nav .scrolled ul li a{
	color: #fff;
}

nav ul li a:hover {
	color: #fff;
}

.bg-search{
	margin-top: 100px;
	width: 50%;
	height: 100vh;
	padding: 60px 80px;
}

.cat{
	color: #0cc90c;
}

.bg-search h1{
	font-size: 55px;
}

.bg-search p{
	margin-top: 20px;
}

.bg-search .search-bar{
	margin-top: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	position: relative;
		
}

.search-bar{
	width: 80%;
	background-color: #e7f2ee;
	padding: 25px 20px;
}

.search-bar .search-btn{
	position: absolute;
	right: 15px;
	background-color: #0cc98f;
	padding: 10px 30px;
	color: #fff;
	border-radius: 40px;
}

.prefer-text .search-btn{
	margin-top: 20px;
	width: 170px;
	text-align: center;
	background-color: #0cc98f;
	padding: 10px 30px;
	color: #fff;
	border-radius: 40px;
}

.bg-textwork{
	color: #fff;
}

.search-btn3{
	margin-top: 20px;
	width: 180px;
	background-color: #0cc98f;
	padding: 10px 20px;
	color: #fff;
	border-radius: 40px;
	text-align: center;
}

.black{
	color: #000;
}

.bg-textwork h1{
	font-size: 50px;
}

.bg-textwork p{
	font-size: 15px;
	margin-top: 20px;
}

.bg-textwork .search-btn{
	width: 15%;
	background-color: #0cc98f;
	padding: 10px 30px;
	color: #fff;
	border-radius: 40px;
	text-align: center;

	margin-top: 20px;
}

.header-pic{
	margin-top: 100px;
	width: 50%;
	height: 100vh;
	padding: 60px 80px;
	position: relative;
}

.pic-bg{
	width: 500px;
	height: 500px;
	background-color: #0cc98f;
	position: absolute;
	bottom: 150px;
	right: 80px;
	border-radius: 60px;
}

.profile{
	width: 150px;
	height: 170px;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: -5px 5px 10px 1px #aaaaaa;
	position: absolute;
	top: 270px;
	left: -50px;
	display: flex;
	justify-content: center;
}

.pp{
	text-align: center;
	margin-top: 30px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
}

.pp img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.pp h4{
	font-size: 15px;
	text-align: center;
}

.dot{
	position: absolute;
	z-index: -1;
	top: -100px;
	left: -100px;
	width: 250px;
	height: 250px;
}

.potrait img{
	margin-left: -100px;
	margin-top: -100px;
	height: 600px;
}

.bg-trust{
	column-gap: 100px;
	margin-top: 10vh;
	height: 200px;
	width: 100%;
	padding: 0px 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-trust img{
	width: 250px;
	height: 150px;
}

.banner-work{
	margin-top: 20vh;
	height: fit-content;
	padding: 0px 80px;
	width: 100%;
	
}

.bg-bannerwork{
	width: 100%;
	background-color: #000;
	height: 100%;
	border-radius: 60px;
	background-image: url(../assets/img/16.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0px;
}

.bg-textwork{
	width: 80%;
}

.work{
	margin-top: 50px;
	width: 85%;
	height: 50vh;
	display: flex;
	justify-content: space-between;
}

.work-item{
	border-radius: 50px;
	width: 30%;
	height: 45vh;
	background-color: #fff;
	padding: 50px 30px;
}

.work-item i{
	font-size: 50px;
	color: #0cc98f;
}

.work-item h2{
	margin-top: 20px;
}

.work-item p{
	margin-top: 20px;
}

.bg-grow{
	margin-top: 10vh;
	height: 80vh;
	width: 100%;
	display: flex;
	padding: 30px 80px;
	position: relative;
	
}

.mobile2{
	display: none;
}

.bg-text{
	width: 60%;
	height: 80vh;
	padding: 20px 0px;
}

.bg-browse{
	margin-top: 50px;
	width: 100%;
	height: 250px;
}

.bg-pic{
	width: 500px;
	height: 100%;
	position: absolute;
	background-color: #000;
	right: 80px;
	top: 0;
	background-image: url(../assets/img/27.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;

}

.bg-prefer{
	display: flex;
	width: 100%;
	height: 80vh;
	margin-top: 10vh;
	position: relative;
}

.prefer-potrait{
	width: 450px;
	height: 450px;
	background-color:  #e7f2ee;
	position: absolute;
	bottom: 50px;
	left: 200px;
	border-radius: 60px;
}

.prefer-potrait img{
	width: 550px;
	height: 550px;
	position: absolute;
	bottom: 0;
	left: -70px;
}

.bg-brand{
	padding: 0px 80px;
	margin: 10vh auto;
	width: 100%;
	height: 65vh;
	border-radius: 50px;
}

.brand{
	background-image: url(../assets/img/25.png);
	background-position: center;
	background-size: cover;
	padding: 0px 80px;
	width: 100%;
	height: 65vh;
	background-color: #000;
	border-radius: 50px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.brand h1{
	font-size: 45px;
}

.prefer-pic{
	height: 100%;
	width: 50%;
	padding: 60px 80px;
	position: relative;
}

.bg-art{
	width: 250px;
	height: 250px;
	background-color: #0cc98f;
	border-radius: 60px;
	position: absolute;
	left: -50px;
	top: -50px;
	z-index: -1;	
}


.prefer-text{
	margin-left: 100px;
	height: 100%;
	width: max-content;
	padding: 60px 0px;
}

.prefer-text h1{
	font-size: 45px;
}

.prefer-text .bg-text{
	margin-top: 10px;
	width: 100%;
	height: fit-content;
}

.nav-mobile{
	width: 100%;
	height: 80px;
	color: #fff;
	background-color: #094126;
	z-index: 1;
	padding: 0px 38px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	display: none;
}

.sidebar{
	width: 60%;
	position: fixed;
	height: 190vh;
	background-color: #094126;
	right: -300px;
	opacity: 0;
	transition: 1s ease;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	margin: auto;
}

.show{
	right: 0;
	opacity: 1;
}

.side-menu{
	width: 100%;
	height: 100%;
	background-color: #094126;
	display: flex;
	color: #fff;
	margin-top: 500PX;
	z-index: 1;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.exit{
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
}

.coba{
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.slider{
	z-index: 1;
	margin-top: 50px;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.option{
	width: 80%;
	height: 100px;
	padding: 20px 80px;
	display: flex;
	justify-content: space-between;
}

.btn-next{
	display: flex;
}

.bg-caraousel{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 80px;
	position: relative;
}

.bg-caraousel .caraousel{
	white-space: nowrap;
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	scroll-behavior: smooth;
	
}

.option{
	width: 100%;
	flex: 1;
}

.brand-btn{
	background-color: #11392E;
	width: 170px;
	text-align: center;
	padding: 10px 30px;
	color: #fff;
	border-radius: 40px;
	margin-top: 20px;
}

.caraousel img{
	height: 340px;
	object-fit: cover;
	
	width: calc(100% / 4);
	margin-left: 14px;
}

.bg-caraousel2{
	margin: auto;
	width: 1350px;
	height: 800px;
	background-color: black;
	margin-bottom: 50vh;
	overflow: hidden;
}

.caraousel2{
	width: max-content;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.testimoni{
	width: 1350px;
	margin-left: 14px;
	height: 500px;
	background-color: red;
	
}

.caraousel img:first-child{
	margin-left: 0px;
}

.slider .option .icon{
	margin: 0px 5px;
	height: 46px;
	width: 46px;
	list-style: none;
	background-color: #0cc98f;
	border-radius: 50%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.tab{
	display: none;
}

.bg-caraousel .caraousel .icon:first-child{
	left: 15px;
}
.bg-caraousel .caraousel .icon:last-child{
	right: 15px;
}

.bg-login{
	width: 100%;
	height: 100%;
	position: fixed;
	margin: auto;
	z-index: 2;
	display: flex;
	align-items:center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
}

.showlogin{
	display: block;
	z-index: 2;
}


.login{
	width: 55%;
	height: 85%;
	display: flex;
	
}

.login-pic{
	width: 53%;
	height: 100%;
	background-color: #0cc90c;
	background-image: url(../assets/img/27.jpg);
	background-position: -400px 0px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px 0px 0px 20px;
}

.bg-form{
	width: 47%;
	height: 100%;
	background-color: #fff;
	padding: 50px 30px;
	border-radius: 0px 20px 20px 0px;
}

.google{
	text-align: center;
	margin: 20px 0px;
	width: 100%;
	padding: 9px;
	border: 1px solid gray;
	border-radius: 3px;
}

.button-login{
	text-align: center;
	margin: 20px 0px;
	width: 100%;
	padding: 9px;
	background-color: #0cc98f;
	border-radius: 3px;
	color: #fff;
}

.bg-form form{
	margin-top: 20px;
}

.bg-form input{
	padding: 13px;
	width: 100%;
	margin: 15px 0px;
}


.form p{
	font-size: 12px;
}

.mobile{
	display: none;
}

.terms{
	font-size: 10px;
	color: gray;
}

.bg-footer{
	width: 100%;
	height: 100px;
	border-top: 1px solid #aaaaaaa7;
	padding: 0px 80px;
	display: flex;
	align-items: center;
}

.bg-footer{
	color: #aaaaaa;
	display: flex;
	justify-content: space-between;
}

.bg-footer p i{
	margin: 0px 10px;
	font-size: 25px;
}

@media screen and (max-width: 900px) {
	.caraousel img{
		width: calc(100% / 2);
	}

	.brand .mobile{
		margin-bottom: -200px;
		height: 200px;
	}

	.bg-trust{
		column-gap: 20px;
		height: fit-content;
	}

	.bg-trust img{
		width: 90px;
		height: 80px;
	}

	.banner-work{
		height: max-content;
		background-color: black;
		width: 100%;
		padding: 0px 0px;
	}

	.bg-bannerwork{
		border-radius: 0px;
		height: max-content;

	}

	.bg-textwork .search-btn{
		width: 180px;
	}

	.work{
		display: block;
		height: max-content;
	}

	.work-item{
		width: 100%;
		margin: 30px 0;
	}

	.work-item:first-child{
		margin: 0;
	}
	
	.header-pic{
		display: none;
	}

	.bg-header{
		width: 100%;
		height: fit-content;
		background-color: #094126;
		color: #fff;
		
	}

	.bg-search{
		width: 100%;
		height: fit-content;
		padding: 60px 30px;
	}

	.bg-search br{
		padding: 0;
		margin: 0;
		display: inline;
	}

	.bg-search p{
		width: 300px;
		font-size: 12px;
	}

	.bg-search h1{
		font-size: 35px;
		width: 300px; 
	}

	.bg-menu{
		display: none;
	}

	.search-bar{
		width: 100%;
		background-color: #fff;
	}

	.search-btn{
		color: #5f5f5f;
	}

	.prefer-pic{
		display: none;
	}

	.prefer-text{
		padding: 60px 30px;
		width: 100%;
		height: auto;
	}

	.prefer-text h1{
		font-size: 40px;
	}

	.prefer-text .text h3{
		font-size: 15px;
	}

	.prefer-text .text p{
		font-size: 12px;
	}

	.bg-brand{
		padding: 0px 30px;
		height: max-content;
		width: 100%;
	}

	.brand{
		height: 400px;
		padding: 80px 30px;
		display: block;
		background-image: url(../assets/img/25.png);
		background-size: cover;
	}
	
	.mobile{
		margin-top: 0px;
		display: block;
	}

	.brand h1{
		font-size: 40px;
	}

	.bg-grow{
		padding: 0 80px;
		height: 105vh;
		position: relative;
	}

	.bg-text{
		width: 100%;
	}

	.bg-pic{
		width: 80%;
		height: 350px;
		top: 350px;
		right: 100px;
	}

	.laptop{
		display: none;
	}

	.mobile2{
		display: none;
	}

	.tab{
		display: block;
	}

	.nav-mobile{
		display: flex;
		position: fixed;
	}

	.bg-prefer{
		height: fit-content;
		margin-top: -20px;
	}

	.prefer-text{
		margin-left: 0px;
	}

	.none2{
		display: none;
	}

	.login{
		width: 100%;
		height: 100%;
		display: flex;	
	}

	.login-pic{
		display: none;
	}

	.bg-form{
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 50px 30px;
		border-radius: 0px 0px 0px 0px;
	}

	
}

@media screen and (max-width: 550px) {
	.caraousel img{
		width: 100%;
	}

	.tab{
		display: none;
	}

	.brand .mobile{
		margin-bottom: -200px;
		height: 200px;
	}

	.bg-trust{
		column-gap: 20px;
		height: fit-content;
	}

	.bg-trust h3{
		display: none;
	}

	.bg-trust img{
		width: 90px;
		height: 70px;
	}

	.banner-work{
		height: max-content;
		background-color: black;
		width: 100%;
		padding: 0px 0px;
	}

	.bg-bannerwork{
		border-radius: 0px;
		height: max-content;

	}

	.bg-textwork .search-btn{
		width: 180px;
	}

	.work{
		display: block;
		height: max-content;
	}

	.work-item{
		width: 100%;
		margin: 30px 0;
	}

	.work-item:first-child{
		margin: 0;
	}
	
	.header-pic{
		display: none;
	}

	.bg-header{
		width: 100%;
		background-color: #094126;
		color: #fff;
		
		
	}

	.bg-search{
		width: 100%;
		height: fit-content;
		padding: 60px 30px;
	}

	.bg-search br{
		padding: 0;
		margin: 0;
		display: inline;
	}

	.bg-search p{
		width: 300px;
		font-size: 12px;
	}

	.bg-search h1{
		font-size: 35px;
		width: 300px; 
	}

	.bg-menu{
		display: none;
	}

	.search-bar{
		width: 100%;
		background-color: #fff;
	}

	.search-btn{
		color: #5f5f5f;
	}

	.prefer-pic{
		display: none;
	}

	.prefer-text{
		padding: 60px 30px;
		width: 100%;
		height: auto;
	}

	.prefer-text h1{
		font-size: 40px;
	}

	.prefer-text .text h3{
		font-size: 15px;
	}

	.prefer-text .text p{
		font-size: 12px;
	}

	.bg-brand{
		padding: 0px 30px;
		height: max-content;
		width: 100%;
	}

	.brand{
		height: 700px;
		padding: 80px 30px;
		display: block;
		background-image: url(../assets/img/25.png);
		background-size: cover;
		background-position: 500px;
		background-position-y: 80px;
	}
	
	.mobile{
		margin-top:10px;
		display: block;
	}

	.bg-header{
		height: fit-content;
	}

	.brand h1{
		font-size: 40px;
	}

	.none{
		display: none;
	}

	.laptop{
		display: none;
	}

	.nav-mobile{
		display: flex;
	}

	.bg-prefer{
		height: fit-content;
		margin-top: -20px;
	}

	.prefer-text{
		margin-left: 0px;
	}

	.mobile2{
		display: block;
	}

	.login{
		width: 100%;
		height: 100%;
		display: flex;	
	}

	.login-pic{
		display: none;
	}

	.bg-form{
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 50px 30px;
		border-radius: 0px 0px 0px 0px;
	}
}

